.finder-shape{
    position: relative;
    display: flex;
    width: 1100px;
    height: 550px;
    padding: 0px;
    background: rgb(40, 41, 46);
    border-radius: 12px;
    margin: 100px auto;
    clip-path: inset(0 0 0 0%);
}

.finder-sidebar{
    width: 225px;
    height: 100%;
    background: rgba(44, 43, 43, 0.4);
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.15);
    clip-path: inset(0 5% 0 0);
    opacity: 0.9;
}

.finder-sidebar h1{
    display: flex;
    font-size: 20px;
    justify-content: center;
    color:rgb(169, 169, 169);
    margin-top: 2.5rem;
    margin-right: 25px;
}

.sidebar-buttons{
    padding-right: 35px;
    list-style: none;
}

.sidebar-buttons ul{
    list-style: none;
    gap: 10px;
    
}



.sidebar-buttons h1{
    padding-right: 40px;
}


.projects-folder{
    display: flex;
    padding-top: 0px;
    justify-content: center;
}

.projects-folder ul{
    list-style: none;
    color: white;

}

.projects-folder li{
    font-size: 25px;
    margin-bottom: 15px;
    margin-right: 20px;
    white-space: nowrap;
}

.projects-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-left: -10px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 0.1);
}

.projects-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



.blackline{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 214px;
    width: 1.5px;
    background-color: black;
}

.blackline2{
    position: absolute;
    top: 63px;
    bottom: 0;
    height: 490px;
    left: 692.5px;
    width: 1.5px;
    background-color: black;
}

.top-bar{
    display: flex;
    position: absolute;
    background-color: rgb(55, 55, 55);
    border-radius: 12px;
    width: 100%;
    height: 70px;
    clip-path: inset(0 0 10% 19.6%);
    opacity: 0.5;
}

.arrows-title{
    display: flex;
    padding-left: 300px;
    transform: translateX(-50px);
}

.arrows-title h1{
    font-size: 20px;   
    padding-top: 20px;

    
}

.top-bar-icons img{
    width: 570px;
    height: auto;
    transform: translateX(40px);
    padding-top: 17px;
    z-index: 1;
    
}
