.progression{
    margin: auto;
    max-width: 1100px;
    min-height: 150vh; /* Increased height to ensure sticky behavior works */
    padding-top: 50px;
}

.progression-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.progression h1{
    margin: 0;
    font-size: 3rem;
    color: white;
    text-align: left;
}

.header-line{
    border: none;
    border-top: 1px solid rgb(187, 187, 187);
    width: 300px;
    margin-left: 2rem;
    margin-top: 22px;
}

.progression-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}