.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.hero-text{
    font-size: 40px;
}

.hero p{
    font-size: 20px;
    width: 600px;
    text-align: center;
    line-height: 1.5;
}

.Typewriter__cursor {
  color: rgb(51, 159, 216); /* your color */
  animation: none;
}

.arrow-icon{
    color: white;
    font-size: 30px;
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
}

.about {
    margin: auto;
    max-width: 1100px;
    min-height: 50vh;
}

.about-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.about h1{
    margin: 0;
    font-size: 3rem;
    color: white;
    text-align: left;
}

.about-line{
    border: none;
    border-top: 1px solid rgb(187, 187, 187);
    width: 300px;
    margin-left: 2rem;
    margin-top: 22px;
}

.about-content{ 
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 0rem;
}

.about-text{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.about-content p{
    flex: 1;
    text-align: justify;
}

.about-image img{
    width: 350px;
    height: auto;
    border-radius: 10px;
    margin-left: 50px;
}

.portfolio{
    margin: auto;
    max-width: 1100px;
    min-height: 50vh;
    padding-top: 50px;
}


.portfolio-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio h1{
    margin: 0;
    font-size: 3rem;
    color: white;
    text-align: left;
}

.portfolio .about-line{
    border: none;
    border-top: 1px solid rgb(187, 187, 187);
    width: 300px;
    margin-left: 2rem;
    margin-top: 22px;
}

.portfolio-content{
    display: flex;
}